.example {
  margin: auto;
  max-width: 800px;
}

form.example input[type=text] {
  padding: 1rem;
  border: none;
  width: 20%;
  background-color: #f1f1f1;
  border-radius: 25px;
  cursor: pointer;
  width: 80%;
}

input:focus {
  outline: none;
}