.App {
  text-align: center;
}

.container {
  background-color: rgba(255, 0, 0, .5);
  height: 200px;
  width: 100%;
  margin: auto;
 
}

.searchContainer {
  width: 80%;
  text-align: center;
  margin: 50px 750px;

}

.result {
  width: 80%;
  text-align: center;
 
}

h1 {
  color: white;
  margin: 20px;
  padding: 5px;
  font-size: 40px;
}

.description {
  font-size: medium;
}

.location {
  font-size: 50px;
  font-weight: bold;
}

.temp {
  font-size: 35px;
  font-weight: bold;
}